.calculator {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  
  &__calculated {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }

  &__buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  &__button {
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #0056b3;
  }

  &__buttoncolor {
    padding: 10px;
    font-size: 18px;
    border: none;
    background-color: #66200b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #66200b;
  }
  

}
